/* BASE - Base stuff for the project.
========================================================================== */

@import 'base/_colors.styl';
@import 'base/_reset.styl';
@import 'base/_typography.styl';

/* HELPERS - Mixins, variables, classes and anything else to help.
========================================================================== */

@import 'helpers/_variables.styl';
@import 'helpers/_mixins.styl';
@import 'helpers/_helpers.styl';

/* COMPONENTS - Smaller components, like buttons and stuff.
========================================================================== */

@import "components/_buttons.styl";

/* MODULES - All little pieces that make the website.
========================================================================== */

@import "modules/_breadcrumb.styl";
@import "modules/_activity.styl";
@import "modules/_activity_userSearch.styl";


@import "modules/_starRating.styl";
@import "modules/_starRatingClick.styl";
@import "modules/_ratingBlock.styl";
@import "modules/_pricingBlock.styl";
@import "modules/_pageNav.styl";
@import "modules/_dropdown.styl";
@import "modules/_filter.styl";
@import "modules/_profile_img_strip.styl"
@import "modules/_cards.styl";
@import "modules/_card_small.styl";
@import "modules/_card_big.styl";
@import "modules/_hero.styl";
@import "modules/_postActivity.styl";
@import "modules/_header_list.styl";
@import "modules/_how_it_works.styl";
@import "modules/_messages.styl";
@import "modules/_postActivity.styl";
@import "modules/_user.styl";
@import "modules/_table.styl"
@import "modules/_cart.styl"
@import "modules/_textbox.styl"
@import "modules/_youtube.styl"
@import "modules/_profile_tabs.styl"

@import "modules/_profile.styl"

@import "modules/_footer.styl";
@import "modules/_header.styl";
@import "modules/_sidebar.styl";



/* LAYOUT - The modules of larger components, like header, footer, etc.
========================================================================== */



/* PAGES - Specific styles for each individual page.
========================================================================== */

@import "pages/_activityMain.styl";
@import "pages/_activity-search.styl";
@import "pages/_user-search.styl";
@import "pages/_post-activity.styl";
@import "pages/_how-it-works.styl";
@import "pages/_cartPage.styl";