.pageNotFound
    text-align center
    span
        font-size $font-size-monster
        transform rotate(90deg)
        display inline-block
        margin-bottom 40px
    h2
        margin-bottom 20px