$black-shade-1 = #373737;
$light-gray = #CCC
$gray-shade-1 = #d4d4d4
$gray-shade-2 = #666
$gray-shade-3 = #efefef
$gray-shade-4 = #999999
$gray-shade-5 = #e8e8e8
$white = #fff
$white-shade = #fdfdfd
$black = #000

//Colorful

$orange = #e48b22;
$blue = #64B8BD
$yellow = #ffcc33
$green = #7fb34a;
$red = #d94141

$background-dark-1 = $black-shade-1;
$background-light-1 = $white-shade
$background-light-2 = $gray-shade-3
$background-light-3 = $gray-shade-1
$background-light-4 = $gray-shade-5

$text-color-light-1 = $light-gray;
$text-color-dark-1 = $gray-shade-2;
$text-color-dark-2 = $black-shade-1 //standard
$text-color-dark-3 = $gray-shade-4

$text-link-color = $blue

$text-color-sp = $orange