/* VARIABLES - Variables to control the fonts used throught the project.
=========================================================================*/
$font-size-xxxxs = 10px;
$font-size-xxxs = 12px;
$font-size-xxs = 13px;
$font-size-xs = 14px;
$font-size-sm = 18px;
$font-size-md = 24px;
$font-size-lg = 30px;
$font-size-xlg = 68px;
$font-size-xxlg = 72px;
$font-size-monster = 200px;


$icon-size-md = 20px;

$font-light = 300;
$font-normal = 400;
$font-bold = 700;


@font-face{
    font-family: Gotham;
    src: url("../../fonts/Gotham.ttf");
}
body{
    font-family: Gotham;
}
*:not(i){
    font-family: Gotham, Verdana, sans-serif
    color: $text-color-dark-1;
}