.activityMain
    .activityMain_main
        +max-width(512px)
            padding 0
    aside
        +max-width(512px)
            padding 0
        &:after
            content ""
            display block
            clear both
    .card_big
        margin 0
        width 360px
        +max-width(1200px)
            width 295px
        +max-width(992px)
            width 100%
            margin 5px 0
        &:hover
            .card_big_front
                top 0
        .card_big_footer
            border-top 1px solid $background-light-2
            font-size 0
            line-height 16px
            p
                padding 8px 0
                display inline-block
                width 33%
                text-align center
                font-size $font-size-xs
                strong
                    font-size $font-size-sm
                &:not(:last-of-type)
                    border-right 1px solid $background-light-2
    .strip
        margin-top 40px
        padding-top 40px
        a
            position absolute
            right 20px
            top -20px
        .activityMain_card_section_tab
            border 1px solid $background-light-3
            background-color $white
            display inline-block
            padding 5px 10px
            border-radius 4px 4px 0 0
            border-bottom none
            position absolute
            top -30px
        i
            position absolute
            top 35px
            z-index 2
            font-size $font-size-sm
            cursor pointer
        i:first-of-type
            left 5px
        i:last-of-type
            right 5px
        .strip_container
            overflow hidden
            width 100%
            height 100%
            .strip_media
                height 70px
                width 120%
                img
                    display inline-block
                    height 100%
                    z-index 1
                    &:not(:first-of-type)
                        opacity .5
                        
    .mobile
        display none
        +max-width(992px)
            display block
    .desktop
        +max-width(992px)
            display none
    button.proceed
        custom_button(standard, sm)
        float right
        i
            margin-left 5px
    .balance
        .activityMain_card_section
            font-size 0
            .balance_tab
                width 25%
                display inline-block
                text-align center
                border-left 1px solid $background-light-3
                padding 0 10px
                &:first-of-type
                    border-left none
                +max-width(512px)
                    width 50%
                    margin-bottom 10px
                    border-left none
                    &:nth-of-type(2n + 2)
                        border-left 1px solid $background-light-3
                p
                    font-size $font-size-xxxs
                    color $text-color-dark-3
                span
                    font-size $font-size-md
                    display block
                    margin-top 5px
                    color $text-color-dark-3
                    word-wrap break-word
            .balance_total
                margin-top 40px
                p
                    font-size $font-size-xxxs
                    text-transform uppercase
                    display inline-block
                    span
                        font-weight $font-bold
                funds
                    float right
                    font-size $font-size-xxxs
                    text-transform uppercase
                    span
                        color $green
                        font-size $font-size-md
    .activityMain_card
        border 1px solid $background-light-2
        background-color $white
        margin-bottom 20px
        .activityMain_card_section
            padding 10px 20px
            border-top 1px solid $background-light-2
            &:after
                content ""
                display block
                clear both
            &:first-child
                padding 15px 20px
                border-top none
            total
                font-weight $font-bold
                font-size $font-size-sm
            price
                font-weight $font-bold
                font-size $font-size-md
                float right
                bottom 3px
            h3 span
                cursor pointer
            button
                custom_button (standard md)
                width 100%
                clear right
            .popular
                background-color $yellow
                padding 2px 6px
                border-radius 10px
                color $white
                margin-left 5px
                font-size $font-size-xxxs
            > p
                margin 10px 0
            .link
                padding 5px 20px
                background-color $background-light-2
                float left
                cursor pointer
                i
                    transform matrix(-1, 0, 0, 1, 0, 0);
            h2
                +max-width(768px)
                    font-size $font-size-xs
            h3
                display inline-block 
            .rating
                position absolute
                right 20px
                top 50%
                transform translateY(-50%)
                display inline-block
                .starRating
                    right: 50px;
                    +max-width(512px)
                        display none
                currentRating
                    color $yellow
                    font-size $font-size-md
                    font-weight $font-bold
            .comment
                margin-top 10px
                padding-bottom 10px
                display inline-block
                width 100%
                right 0
                float right
                font-size 0
                &:first-child
                    margin-top 0
                &:not(:last-child)
                    border-bottom 2px solid $background-light-3
                .comment_profile
                    width 30%
                    display inline-block
                    vertical-align top
                    font-weight $font-bold
                    font-size $font-size-xxs
                    &:after
                        content ""
                        display block
                        clear both
                    +max-width(768px)
                        width 100%
                        margin-bottom 10px
                    img
                        border-radius 4px
                        height 60px
                        float left
                        cursor pointer
                    user
                        margin-left 10px
                        color $text-color-dark-2
                        cursor pointer
                    span
                        display block
                        clear both
                        padding-top 5px
                        color $text-color-dark-2
                    fieldset
                        position: absolute;
                        bottom: -1px;
                        left: 45px;
                        label
                            font-size 2rem
                .comment_message
                    width 70%
                    min-height 80px
                    display inline-block
                    vertical-align top
                    padding 0 10px
                    padding-bottom 40px
                    border-left 1px solid $background-light-3
                    +max-width(768px)
                        width 100%
                        border-left none
                    p
                        color $text-color-dark-2
                        font-size $font-size-xs
                    .comment_answer
                        position absolute
                        cursor pointer
                        bottom 0
                        left 10px
                        font-weight $font-bold
                        font-size $font-size-xxs
                        color $text-color-dark-3
                    .comment_time
                        position absolute
                        bottom 0
                        right 0
                        font-weight $font-bold
                        font-size $font-size-xxs
                        color $text-color-dark-3
            .answer
                width 90%
            .tag
                font-size $font-size-xxs
                display inline-block
                a
                    font-weight $font-bold
            .activity_title
                display block
                width 70%
                overflow hidden
            .pricingBlock_price
                position absolute
                right 80px
                top 50%
                transform translateY(-50%)
                +max-width(768px)
                    right 30px
            .price_arrow
                position absolute
                right 20px
                top 50%
                transform translateY(-50%)
                font-size $font-size-md
                color $text-color-dark-3
                cursor pointer
                +max-width(768px)
                    right 10px
                    font-size $font-size-xs
            .tagsSpan,
            .aboutMeSpan
                font-weight $font-bold
                display block
                & ~ p
                    margin-left 18px
            .tags
                cursor pointer
                &:before
                    content "#"
            .socialMediaIcons
                display inline-block
                float right
                +max-width(512px)
                    display none
                img
                    height 25px
                    border-radius 5px
                    cursor pointer
                    transition filter .2s ease-in-out
                    filter grayscale(1)
                    &:hover
                        filter grayscale(0)
            input
                background-color $background-light-2
                padding 5px 10px
                border-radius 3px
            input[type=text]
                vertical-align middle
                width 80%
            .fa-check-circle
                color $blue
                font-size $font-size-md
                vertical-align middle
            .valueInput
                width 60px
                padding 5px
                font-size $font-size-xxs
                margin-top 20px
            small
                display block
                text-align center
                margin-top 10px
                line-height 15px
            > label
                font-size $font-size-xxs
                display block
    .history
        margin 20px 0
        padding 0 15px
        +max-width(512px)
            padding 0
        .history_filters
            line-height 50px
            &:after
                content ""
                display block
                clear both
            p
                display inline-block
                margin-right 50px
                text-transform uppercase
                font-size $font-size-xxs
            select
                padding 5px 10px
                text-transform uppercase
                background-color transparent
                border 1px solid $background-light-3
                border-radius 3px
                font-size $font-size-xxs
                +max-width(512px)
                    display block
                    margin-bottom 10px
                    width 100%
            a
                float right
                font-size $font-size-xxxs
                color $blue
        .history_table
            font-size 0
            background-color $white
            .ht_col1,
            .ht_col2,
            .ht_col3,
            .ht_col4,
            .ht_col5,
            .ht_col6
                display inline-block
                font-size $font-size-xxs
                padding 20px
                vertical-align middle
                +max-width(512px)
                    padding 5px
            .ht_col1
                min-width 80px
                width 20%
                padding-left 20px
                +max-width(992px)
                    display none
                img
                    float left
                    border-radius 50%
                    width 40px
                    margin-right 10px
                a
                    text-decoration underline
            .ht_col2
                min-width 300px
                width 35%
                p
                    font-weight $font-bold
                    font-size $font-size
                +max-width(992px)
                    width 60%
                    min-width 100px
                    p
                        font-size $font-size-xxxxs
            .ht_col3
                min-width 50px
                width 15%
                p
                    color $orange
                    font-size $font-size-sm
                    font-weight $font-bold
                +max-width(992px)
                    width 20%
                    p
                        font-size $font-size-xxxxs
            .ht_col4
                min-width 80px
                width 15%
                +max-width(992px)
                    display none
            .ht_col5
                min-width 80px
                width 15%
                +max-width(992px)
                    display none
            .ht_col6
                width 20%
                display none
                p
                    color $orange
                    font-size $font-size-sm
                    font-weight $font-bold
                +max-width(992px)
                    display inline-block
                    p
                        font-size $font-size-xxxxs
            .history_table_header
                background-color $background-light-1
                border-bottom 1px solid $background-light-2
                p
                    font-weight $font-bold
                    +max-width(512px)
                        font-size $font-size-xxxxs