
/* STYLE - General styling for this module.
========================================================================== */
.cart_header
	position relative
	a
		position absolute
		right 0
		top 50%
		transform translateY(-50%)
		custom_button (reject sm)
		z-index 1
.cart_item
	margin 0