
/* STYLE - General styling for this module.
========================================================================== */
.cart_header
	position relative
	a
		position absolute
		right 0
		top 50%
		transform translateY(-50%)
		custom_button (reject sm)
		z-index 1
.cart_item
	margin 0
	border-bottom 1px solid $background-light-2
.cartTotal_item
	margin 0
	height auto
	padding 20px 0
	> a
		custom_button (standard sm)
		text-align center
		margin-top 10px
		left 50%
		transform translateX(-50%)
	&:hover
		background $white !important
		
.cart_finalPrice
	width 223px
	>p
		display inline-block
		
.cart_footer
	background $white
	padding 10px 0
	margin-bottom 40px
	h2,.pricingBlock
		display inline-block
	a
		custom_button (standard md)
		float right
		margin-top 5px
/* BREAKPOINTS - Customizations for each specific breakpoint.
========================================================================== */

+max-breakpoint(md)
	.cartTotal
		display none
+max-breakpoint(xs)
	.cart_item
		height auto
+max-breakpoint(xxs)
	.cart_item
		height auto
	.cart_item_qt
		width 80%
+max-breakpoint(xxxs)
	.cart_header
		a
			display none
	.cart_item_title
		width 50%
		font-size $font-size-xxxs
	.cart_item_price
		width 35%
		font-size $font-size-xxxs
		> p
			margin-top 76px
			font-size $font-size-xs
	
+max-width(523px)
	.cart_finalPrice
		width 100%
		text-align center
	.cart_footer
		a
			float none
			left 50%
			transform translateX(-50%)