/* VARIABLES - Variables used in this module.
========================================================================== */

$height = 235px;

/* STYLE - General styling for this module.
========================================================================== */

.cards{
    background yellow;
    
    .cards_item{
        color red;
    }
    }