.card_small
    height 200px
    width 140px
    display inline-block
    background-color $white
    text-align center
    padding 10px
    margin 0 10px
    &:first-of-type
        margin-left 0
    &:last-of-type
        margin-right 0
    img
        border-radius 50%
        width 70%
        border 5px solid $background-light-2
    p
        font-weight $font-bold
        font-size $font-size-xxxs
        margin 5px 0
    small
        font-size $font-size-xxxxs
    .card_footer
        position absolute
        bottom 0
        left 0
        padding 5px 10px
        border-top 1px solid $background-light-4
        width 100%
        text-align left
        .pricingBlock_price
            font-size $font-size-xs
        i
            position absolute
            right 30px
            top 7px
            color $text-color-dark-3
            &:last-of-type
                right 10px