/* VARIABLES - Variables used in this module.
========================================================================== */

/* font color */
$text-color = $text-color-dark-2;

/* header_main */
$background = $white;
$menu-height = 60px;

/* header_bottom */
$menu-bottom-height = 35px
$menu-bottom-background = $white
$menu-bottom-margin-right = 14px
$header-bottom-font-color = $text-color-dark-3

/* mobile */
$margin-horizontal = 20px

/* STYLE - General styling for this module.
========================================================================== */

.header
    //margin-bottom 15px

/* header_main
======================== */  
.header_main{
	height $menu-height
	line-height $menu-height
	background $background;
	border-bottom 1px solid $background-light-4
}

.header_main_logo{
	float left;
	display inline-block
	cursor pointer
	z-index 1
	img{
		width 40px
		height 40px
		margin-bottom 3px
	}
	p{
		text-transform uppercase
		font-weight $font-light
		display inline-block
		font-size $font-size-xs
 	}
}

.header_main_itemWrapper
	height $menu-height
	line-height $menu-height
	display inline-block
	margin-left 45px
	
	.header_main_item
		display inline-block
		margin-right 26px
		&:last-child
			margin-right 0
		a
            display block
            textHover($text-color)	
			font-weight $font-bold
			  

.header_main_search
	position relative
	display inline-block
	margin-left 80px
	margin-right 20px

	.header_main_search_icon
		position absolute
		left 10px
		top 52%
		transform translateY(-50%)
		font-size $icon-size-md
		color $text-color-dark-1
		z-index 1
	
	.header_main_search_input
		width 180px
		border-radius 20px
		border 1px solid $background-light-4
		height 32px
		line-height 32px
		padding-left 40px
		font-size $font-size-xxs
		background $input-background
		color $text-color-dark-1
		box-shadow $background-light-4 1px 1px 5px inset 
		&:focus
			outline 0

	.header_main_search_btn
        height 26px
        width 26px
        backgroundHover(#64c2c7)
        position relative
        border-radius 50%
        box-shadow: 1px 1px 3px #686868
        top 9px
        right 35px
		
		i
			position absolute
			color $white
			top 7px
			left 9px
	
.header_main_profile
	display inline-block
	width 70px
	position relative
	margin-right 15px
	.header_main_profile_pic
		img
			border-radius 50%
			border 2px solid $white

.header_main_profile_icon
    color #64c2c7
    textHover($red)
    margin-left 10px
		
		
.header_main_action
	display inline-block
	width 100px
	height 32px
	line-height 32px
	border-radius 5px
	background transparent

	
	.header_main_action_item
		textHover($text-color-dark-2) 
		position relative
		display inline-block
		width 30px
		margin 0 auto
		text-align center
		min-width 30px
		max-width 30px
		font-size $font-size-sm
		/* Right border */
		&:after
			content ''
			display block
			position absolute
			height 32px
			width 1px
			background $background
			right -4px
			top 0
		&:last-child
			border transparent
			&:after
				display none
		i
			margin-left 2px
			line-height 32px

.header_main_post
    custom_button (standard sm)
    max-width 200px
    display inline-block
    margin-left 15px
	
.header_main_mobileMenu
	display none
/* header_bottom
======================== */  

.header_bottom
    background $menu-bottom-background
    height $menu-bottom-height
    line-height $menu-bottom-height
    width 100%
    display inline-block
	margin 0 auto
    &:last-child
        margin-right 0

.header_bottom_wrapper
	width fit-content
	margin auto
.header_bottom_item
    display inline-block
    font-size $font-size-xxs
    font-weight $font-bold
    textHover($header-bottom-font-color) 
    margin-right $menu-bottom-margin-right
    line-height $menu-bottom-height


/* BREAKPOINTS - Customizations for each specific breakpoint.
========================================================================== */

+max-breakpoint(lg)
	.header_main_search
		margin-left 40px
	.header_main_post
		width 50px !important
		span
			display none

+max-breakpoint(md)
	.header_main_logo
		width 80%
		margin 0 auto
		text-align center
	.header_main_mobileMenu
		width 5%
		display block
		textHover($background-dark-1)
		float left
		margin-left $margin-horizontal
		i
			font-size $font-size-md
			margin-top 18px
	.headerMobileCollapse
		display none

	
    