.header_list
    padding 20px
    border-bottom 1px solid $background-light-3
    border-top-left-radius 3px
    border-top-right-radius 3px
    p
        margin 0 20px
        display inline-block
        cursor pointer
        &.selected
            font-weight $font-bold