/* VARIABLES - Variables used in this module.
========================================================================== */

$background-img = url('../images/hero-bg.jpg')
$title-size = 0
$subtitle-size = 0
$hero-height = 300px
$input-width = 0
$input-height = 50px
$border-radius = 3px


/* STYLE - General styling for this module.
========================================================================== */

.hero
	background $background-img no-repeat center;
	min-height $hero-height
	padding 50px 0

.hero_title, .hero_subtitle
	text-align center
	color white

.hero_subtitle
	font-weight $font-normal

.hero_form
	width 100%
.hero_formWrapper
	width 80%
	max-width 600px
	margin 30px auto
	height auto

.hero_input
	text-align center
	width 60%
	height $input-height
	line-height $input-height
	display inline-block
	border-radius $border-radius
	font-size $font-size-sm

.hero_btn
	backgroundHover(#4456ba)
	color $white
	border-radius $border-radius
	width 30%
	min-width 150px
	text-align center
	height $input-height
	line-height $input-height
	display inline-block
	margin-left 20px
	padding 0 20px

/* BREAKPOINTS - Customizations for each specific breakpoint.
========================================================================== */

+max-breakpoint(xxs)
	.hero_formWrapper
		width 100%
		max-width 300px
	.hero_btn
		margin-top 20px !important
	.hero_btn, .hero_input
		width 100%
		left 50%
		margin-left 0
		transform translateX(-50%)
