.how_it_works
    .how_it_works_block_group
        background-color $white
    .how_it_works_block
        font-size 0
        height 300px
        margin 20px 0
        &:nth-of-type(odd)
            img
                float left
        .how_it_works_block_text
            font-size 1.5rem
            width 50%
            display inline-block
            vertical-align top
            padding 20px
        img
            width 50%
            height 100%
            display inline-block
            vertical-align top