.profile_tabs
	margin-top 20px
	margin-bottom 80px
	.profile_tabs_container
		background $white
		input
			display none
		input:checked + label
			font-weight $font-bold
		> label
			cursor pointer
			line-height 50px
			margin-left 20px
		.profile_tabs_group
			display none
			padding 20px 50px
			+max-width(768px)
				padding 10px
				
		input:nth-of-type(1):checked ~ .profile_tabs_group:nth-of-type(1),
		input:nth-of-type(2):checked ~ .profile_tabs_group:nth-of-type(2),	input:nth-of-type(3):checked ~ .profile_tabs_group:nth-of-type(3)
			display block
			
.profile_tabs_header
	width 95%
	margin 0 auto
	border-bottom 1px solid $background-light-2
	padding-bottom 15px
	p
		&:first-child
			display inline-block
	> div
		float right
		&:before
			font-family FontAwesome
			content '\f175'
			margin-right 5px
			
.profile_tabs_activity
	.profile_tabs_activity_user
		width 250px
		.profile_tabs_activity_title
			text-overflow inherit
			white-space normal
			overflow auto
			width 80%
		.profile_tabs_activity_userLocation
			display inline-block
+max-breakpoint(md)
	.profile_tabs_price
		top -38px
		float right
		height auto
	
+max-breakpoint(xxxs)
	.profile_tabs_header
		padding 20px 0
		> p
			&:first-child
				display none !important
		> div
			float none
			display block
			text-align center
	.profile_tabs_price
		padding-bottom 30px !important
		top 0
		float none
		height auto
		width 100%
		> p
			text-align center
			
		> div
			left 0