.search
    background-image url(/images/searchBackground.jpg)
    background-size cover
    background-position center
    background-repeat no-repeat
    padding 20px 0
    text-align center
    .textbox
        .title,
        .subtitle
            color $white