/* VARIABLES - Variables used in this module.
========================================================================== */

$content-background = $white
$content-top-padding = 10px;
$border-radius = 2px
$header-background = $background-light-1
$header-height = 48px
$category-header-height = 30px
$category-header-padding-left = 15px
$category-content-padding-left = ($category-header-padding-left * 2) + 2px

$text-color-header = $text-color-light-1
$text-color-content = $text-color-dark-1
$icon-color = $text-color-dark-1

$price-height = 40px
$price-background = yellow
/* STYLE - General styling for this module.
========================================================================== */

.sidebar
    width 200px
	min-width 200px
    margin-left 0
    display inline-block
    border-bottom-left-radius $border-radius
    border-bottom-right-radius $border-radius
    
	
.sidebar_header
    background $header-background 
    border-top-left-radius $border-radius
    border-top-right-radius $border-radius
    height $header-height
    line-height $header-height
    border-bottom 1px solid $background-light-2 
    font-weight $font-bold
    color $text-color-dark-1
    padding-left 15px
    
.sidebar_category
    background $content-background
    padding 5px 0
    border-bottom 1px solid $background-light-1
	
.sidebar_category > label
	position relative
	width 100%

	display inline-block
	> i
		padding-left 15px
		font-size $font-size-xs
		color $icon-color
		&:last-child
			position absolute
			left 160px
			top 2px
			
.sidebar_category_content_review
	float left
/*.sidebar_category_header
    padding-left $category-header-padding-left
    display block
    height $category-header-height
    line-height $category-header-height
    margin-bottom 5px
    position relative
    color $text-color-header
    font-weight $font-bold
    font-size $font-size-xxs
    
    .sidebar_icon_category
        font-size $font-size-xs
        color $icon-color
    
    .sidebar_icon_arrow
        color $icon-color
        position absolute
        top 10px
        right 10px*/

.sidebar_category_content
    color $text-color-content
    padding-left $category-content-padding-left 
    padding-top $content-top-padding
	input
		outline 0
		border 0
	select
		border 0
	
.sidebar_caterory_checkbox_wrapper
    display block
    margin-left $category-content-padding-left 
    label
        color $text-color-content
        
.sidebar_search
    width 73px
    margin 0 auto
    margin-top 10px
    custom_button (reject sm)
	
/* --------------------------------- */
.sidebar
	input[type='checkbox']
		display none
	label
		cursor pointer
		
.sidebar_category_content, .sidebar_category_checkbox
	padding-top $content-top-padding
	overflow: hidden;
	height: 0;

.sidebar_category_checkbox input
	display inline-block !important
	
.sidebar_category input:checked ~ .sidebar_category_content
	height: auto
	
.sidebar_category input:checked ~ .sidebar_category_checkbox
	height: auto

	
	
.sidebar_category_price
	input
		width 40px
		background gray
	*
		display inline-block

/* HELPERS - Classes for very specific rules.
========================================================================== */

.--noIconPadding
    margin-left 18px
    i
        margin-top -2px
        
.--spanText
    font-weight $font-normal
    color $text-color-content
	
/* BREAKPOINTS - Customizations for each specific breakpoint.
========================================================================== */

+max-breakpoint(md)	
	.sidebar
		display none