/* VARIABLES - Variables used in this module.
========================================================================== */

$title-size = 0
$subtitle-size = 0

/* STYLE - General styling for this module.
========================================================================== */

.textbox
	&.textbox--sm
		$title-size = $font-size-md
		$subtitle-size = $font-size-sm
		.textbox_title
			font-size $title-size
		.textbox_subtitle
			font-size $subtitle-size