/* VARIABLES - Variables used in this module.
========================================================================== */

$title-size = 0
$subtitle-size = 0

/* STYLE - General styling for this module.
========================================================================== */

.textbox
    .tags
        margin 10px 0
        a
            margin 0 5px
            color $text-color-dark-2
            padding 5px
        a:first-child,
        a:hover
            display inline-block
            background-color lightgray
            border-radius 3px
        a:not(:first-child):before
            content "#"
	&.textbox--sm
		$title-size = $font-size-md
		$subtitle-size = $font-size-sm
		.textbox_title
			font-size $title-size
		.textbox_subtitle
			font-size $subtitle-size