/* VARIABLES - Variables used in this module.
========================================================================== */

$background = $white
$padding = 15px
/* STYLE - General styling for this module.
========================================================================== */

.me
	background lightblue

.user
	background $background
	width 100%
	margin 0 auto
	padding-top $padding
	.user_pic
		display inline-block
		padding-left $padding
		float left
	.user_info
		width 50%
		display inline-block
		margin-left 20px
		*
			display inline-block
		
		.user_name, .user_location
			width 100%
			margin-bottom 10px
		
	.user_footer
		display block
		border-top 1px solid yellow
		height auto
		padding 0 $padding
		margin-top 30px
		padding-bottom 5px
//		background lightgreen
		.starRating
			width 40%
			display inline-block
			float left
		.user_tags
			display inline-block
			width 40%
			padding-top 7px
			float right