.youtube_wrapper
	padding 0 20px
.youtube_header
	*
		display inline-block
	img
		width 50px
		height auto
		position relative	
		padding-bottom 5px
.youtube_box
	position relative
	min-height 200px
	height 200px
	background $white
	.youtube_box_arrow
		height 70px
		width 40px
		background $white
		position absolute
		right -20px
		top 50%
		transform translateY(-50%)
		i
			top 35%
			left 50%
			transform translateX(-50%)